<div class="databox dashboard-balances wide">
	<h2>Top Balances</h2>
	<div class="data" style="text-align: center;">
		<div class="spinner"><div class="spinner-loader">...</div></div>
	</div>
</div>

<div class="databox dashboard-transactions">
	<h2>Transactions</h2>
	<div class="data">
		<div class="spinner"><div class="spinner-loader">...</div></div>
	</div>
</div>

<div class="databox dashboard-trade">
	<h2>Trade</h2>
	<div class="data">
		<div class="spinner"><div class="spinner-loader">...</div></div>
	</div>
</div>

<div class="databox dashboard-chat">
	<h2>Chat</h2>
	<div class="data">
		<div class="spinner"><div class="spinner-loader">...</div></div>
	</div>
</div>

<div class="databox dashboard-apps">
	<h2>Apps</h2>
	<div class="data">
		<div class="spinner"><div class="spinner-loader">...</div></div>
	</div>
</div>
