<div class="databox dashboard-balances wide">
  <div class="databox-header">
    <h2>Starred assets</h2>
    <!--<div class="manage-button">
	 <a onclick='manage_favourites();' href="#manage-favourites" role="button" data-toggle="modal"><span class="manage-icon"></span>Manage</a>
	 </div>-->
  </div>
  <div class="data">
    <div class="spinner"><div class="spinner-loader">...</div></div>
  </div>
</div>

<!--
<div class="databox dashboard-transactions">
  <div class="databox-header">
    <h2>Transactions</h2>
  </div>
  <div class="data">
    <div class="spinner"><div class="spinner-loader">...</div></div>
  </div>
</div>

<div class="databox dashboard-trade">
  <div class="databox-header">
    <h2>Trade</h2>
  </div>
  <div class="data">
    <div class="spinner"><div class="spinner-loader">...</div></div>
  </div>
</div>

<div class="databox dashboard-chat">
  <div class="databox-header">
    <h2>Chat</h2>
  </div>
  <div class="data">
    <div class="spinner"><div class="spinner-loader">...</div></div>
  </div>
</div>

<div class="databox dashboard-apps">
  <div class="databox-header">
    <h2>Apps</h2>
  </div>
  <div class="data">
    <div class="spinner"><div class="spinner-loader">...</div></div>
  </div>
</div>
-->

<div class="databox dashboard-community">
  <div class="databox-header">
    <h2>Join our community</h2>
  </div>
  <div class="data">
    <p>We invite you to be part of the Internet of Coins community and join the conversation via one of our channels.</p>
    <div class="social-icons">
      <div>
        <a href="https://twitter.com/InternetOfCoins" target=_BLANK>
          <div class="twitter"></div>
          <span>Twitter</span>
        </a>
      </div>
      <div>
        <a href="https://t.me/InternetofCoins" target=_BLANK>
          <div class="telegram"></div>
          <span>Telegram</span>
        </a>
      </div>
      <div>
        <a href="https://internetofcoins.slack.com/" target=_BLANK>
          <div class="slack"></div>
          <span>Slack</span>
        </a>
      </div>
      <div>
        <a href="https://riot.im/app/#/room/#internetofcoins:matrix.org" target=_BLANK>
          <div class="riot"></div>
          <span>Riot</span>
        </a>
      </div>
      <div>
        <a href="https://bitcointalk.org/index.php?topic=1760129" target=_BLANK>
          <div class="bitcointalk"></div>
          <span>Bitcointalk</span>
        </a>
      </div>
    </div>
  </div>

  <br><br>
  
  <div class="progress-radial"><div class="dot" style="width:1em;height:1em;overflow:visible;" "=""></div><svg style="margin-left:-1em;" viewBox="0 0 80 80" height="120" width="120"><circle cx="40" cy="40" r="35" fill="rgba(255,255,255,0.0)" stroke="#BBB" stroke-width="10" stroke-dasharray="239" stroke-dashoffset="239" style="stroke-dashoffset: 239px;"></circle></svg></div>

</div>

<div class="databox dashboard-faq">
  <div class="databox-header">
    <h2>Support</h2>
  </div>
  <div class="data">
    <p>If you need help with using this wallet or have a question regarding the project, please visit our support page: </p>

    <p class="btn-right-link">
      <a href="https://internetofcoins.org/faq" target="_BLANK">
        <span>Go to the FAQ</span>
        <span class="chevron-right">.</span>
      </a>
    </p>
  </div>
</div>

<div class="databox dashboard-faq" style="width: 95%;">
  <div class="databox-header">
    <h2>Latest updates</h2>
  </div>
  <div class="data">
    <p>These are the latest updates our team has made to Internet of Coins:</p>
    <p><b>0.25.1</b><br>
    update to the node cache mechanism,
    bugfix for Ethereum token transactions,
    correction of fee in ARK recipe,
    remove redundant Bitshares ids,
    cosmetic fix to balance loading throbber
    </p>
  </div>
</div>

<!-- modals -->
<div id="manage-favourites" class="modal hide fade wide" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-header">
      <h2 id="ModalLabel">Manage starred assets</h2>
    </div>
    <div class="modal-body">
      <div class="data"></div>
    </div>
    <div class="modal-footer">
      <button class="pure-button pure-button-primary" data-dismiss="modal" aria-hidden="true">Save changes</button>
    </div>
  </div>
</div>
